.button{
    width: 250px;
    line-height: 50px;
    display: block;
    text-align: center;
    border-radius: 3px;
}

.button:link {
    color: #000000;
    text-decoration: none;
    background-color: #cc9694;

    -o-transition:color .3s ease-out, background .3s ease-in;
    -ms-transition:color .3s ease-out, background .3s ease-in;
    -moz-transition:color .3s ease-out, background .3s ease-in;
    -webkit-transition:color .3s ease-out, background .3s ease-in;
    transition:color .3s ease-out, background .3s ease-in;
}

.button:visited {
    color :#000000;
    text-decoration: none;
    background-color: #cc9694;
}

.button:hover {
    color: #cc9694;
    background-color: #000000;
    text-decoration: none;
}

<<<<<<< HEAD
/* VÖRUR button */
.btn:hover {

}
=======
.btn{
    display: block;
    border: .5px solid #000000;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px; 
}

.btn:link {
    color: #000000;
    text-decoration: none;
    background-color: transparent;

    -o-transition:color .3s ease-out, background .3s ease-in;
    -ms-transition:color .3s ease-out, background .3s ease-in;
    -moz-transition:color .3s ease-out, background .3s ease-in;
    -webkit-transition:color .3s ease-out, background .3s ease-in;
    transition:color .3s ease-out, background .3s ease-in;
}

.btn:visited {
    color :#000000;
    text-decoration: none;
    background-color: transparent;
}

.btn:hover {
    color: #000000;
    border: .5px solid #cc9694;
    background-color: #cc9694;
    text-decoration: none;
}
>>>>>>> refs/remotes/origin/master
