.employee_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right:  10px;
}

.employee_col {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.employees {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 10px;
}

.employee {
  max-width: 100%;
  height: auto;
}


.front-card {

}

.reverse-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY( 180deg );

  margin-bottom: 40px;
  font-size: 1.5rem;
  font-family: 'Oswald';

  text-align: center;
}

.reverse-card p {
   font-size: 1.5rem;
   text-align: center;

   font-family: 'Oswald'
 }

.flip-cards {
  width: 200px;
  height: 291px;

  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-cards:hover {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY(180deg);
}

.flip-cards div {
  width: 200px;
  height: 291px;

  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}
