.employee_row {
  display: flex;
  flex-wrap: wrap;
}

.employee_col {
  padding-left: 10px;
  padding-right: 10px;
}


@media (min-width: 1000px) {
  .employee_row {
    flex-direction: row;
  }

  .employee_col {
    margin-bottom: 340px;
  }
}

.employees {
  display: flex;
  flex-direction: column;
}

.employee {
  width: 100%;
  height: auto;
}


.front-card {
  padding-left: 10px;
}

.reverse-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY( 180deg );

  font-size: 1.5rem;
  font-family: 'Oswald';

  text-align: center;
}

.flip-cards {
  width: 400px;
  height: 291px;

  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.flip-cards:hover {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY(180deg);
}

.flip-cards div {
  width: 400px;
  height: 291px;

  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}
