
.product__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right:  -10px;
}

.product__col {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  .products {
    margin-bottom: 40px;
  }

  .product__col {
    width: 50%;
  }

  .product__row {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .product__col {
    width: 33.33%;
  }
}

  .product {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 1200px;

}

.product__image {
  padding-left: 0px;
  flex: 10 10 100px;
}

.product__img {
  max-width: 100%;
}

.product__title {
  margin-bottom: 20px;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 600;
}

.product__content {
  display: flex;
  flex: 2;
}

.product__text {
  font-size: 1.10rem;
  overflow: visible;
}

.prices {
  padding-top: 20px;
}

.prod input {
  border: .5px solid black;
  border-radius: 3px;

  padding-left: 10px;
}
